*{
	margin: 0%;
}
body{
	background-color: #e6e6e6;
}
#filename{
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	color: #a5b9d1;
	background-color: #2b579a;
	border-top: 1px solid #838383;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

#textArea{
	resize: none;
	outline: none;
	border-top: 1px solid #c6c6c6;
	width: 100%;
	height: 80%;
	text-align:left;
}
.tab {
	overflow: hidden;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	background-color: #2b579a;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	color: #f3f3f3;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	padding: 10px 16px;
	transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */


  
  /* Create an active/current tablink class */
  .tab button.active {
	color: #2b579a;
	background-color: #f3f3f3;
  }
  
  /* Style the tab content */
  .tabcontent {
	background-color: #f3f3f3;
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
  }
